.main{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-row-gap: 1em;
}

.first-block{
    height: 50vh;
}

.download{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
}

.files{
    margin-top: 5em;
}