.button {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 5px 1em;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: #fff;
    border: none;
    font-size: 16px;
    background-color: rgb(66, 66, 66);
    color: #fff;

}

.id {
    font-weight: bold;
}