.header{
    padding: 2em 3em;
    background-color: black;
    color: #fff;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 19px;
}

.header a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    margin: 0 1em;
}

.header a:hover{
    color: rgb(76, 107, 233);
}

.first{
    width: 500px;
    display: flex;
    justify-content: space-between;
}